html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
}

a {
    border: none;
    text-decoration: none;
}

a:active {
    color: white;
}

.flex {
    display: flex;
}

.column {
    flex-flow: column nowrap;
}

.row {
    flex-flow: row nowrap;
}

.fullw {
    width: 100%;
}

.fullh {
    height: 100%;
}

.align-center {
    align-items: center;
}

#app {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    align-items: center;
}

.logo {
    margin-top: 5px;
    font-family: 'PT Mono', monospace;
    font-size: 90px;
    margin-bottom: 10px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
    color: white;
    transition: "text-shadow" 0.4s linear;
}

.logo:hover {
    text-shadow: 0px 6px 3px rgba(0, 0, 0, 0.3);
}

.label {
    color: white;
    font-family: 'Arial', sans-serif;
    margin-left: 4px;
    align-self: center;
}

#in {
    min-width: 45%;
    padding: 4px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.08);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    padding: 10px 0px 10px 0px;
}

#options {
    border-bottom: 3px solid rgba(0,0,0,0.2);
    margin-top: 6px;
    min-width: 45%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.color-picker {
    width: 13px;
    height: 13px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 3px;
    margin-right: 4px;
}

table {
    margin-top: 15px;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.08);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);    
    border-collapse: separate;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    max-width: 88%;
}

thead tr th {
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

td, th {
    padding: 4px 20px 0px 20px;
    font-weight: lighter;
}

td {
    font-size: large;
}

/*
 my phone
*/
@media only screen and (max-height: 860px) {
    .logo {
        margin-top: 60px;
    }

    #options {
        font-size: 16px;
    }
}

/*
iPhone 6s plus
*/
@media only screen and (max-height: 736px) {
    .logo {
        margin-top: 50px;
        font-size: 72px;
    }

    #options {
        font-size: 22px;
    }
}


/*
iPhone 5
*/
@media only screen and (max-height: 568px) {
    .logo {
        margin-top: 30px;
        font-size: 62px;
    }

    #options {
        font-size: 16px;
    }
}